@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --textfont: 'Inter', sans-serif;
}

body {
  font-family: var(--textfont) !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.loader {
  border: 8px solid rgb(229 229 229); /* Light grey */
  border-top: 8px solid rgb(94 47 244); /* Violet */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
}

.loader-sm {
  width: 40px;
  height: 40px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.search-input-container {
  @apply hidden;
}

.index-page .search-input-container {
  @apply block;
}

.center-content {
  max-width: 1180px;
  width: calc(100% - 20px);
  @apply mx-auto;
}

.search-input-container {
  @apply relative ml-2 sm:ml-6 max-w-[165px] sm:max-w-[200px] md:max-w-[280px];
}

.search-input {
  @apply rounded-full bg-slate-200 pl-10 focus:outline-none w-full;
  height: 36px;
}

.search-icon {
  @apply absolute left-3;
  top: 8px;
}

.btn {
  @apply rounded-full flex px-3 sm:px-5 sm:ml-1 h-[32px] sm:h-[40px] text-sm cursor-pointer items-center justify-center ease-linear duration-150;
}

.btn-small {
  @apply px-3 sm:h-[32px];
}

.btn-primary {
  @apply bg-violet-700 text-white hover:bg-violet-900;
}

.btn-secondary {
  @apply bg-white text-slate-600 hover:bg-slate-200;
}

.inputs {
  @apply text-slate-500 h-10 w-80 rounded-md border block outline-none px-2 focus:border-violet-500 focus:shadow focus:shadow-violet-200;
}

.banner-container {
  @apply flex flex-1 items-center justify-center bg-violet-900 py-20 md:py-0 md:rounded-r-[40px] relative;
}

.banner-bg {
  @apply bg-[url('/img/bg.jpg')] absolute top-0 left-0 right-0 bottom-0 bg-cover rounded-r-[40px] opacity-10 bg-center pointer-events-none;
}

.banner-title {
  @apply text-3xl md:text-5xl text-white font-bold text-center px-4 md:w-96;
}

.banner-slogan {
  @apply text-white pt-7;
}

.error {
  @apply text-red-500 mt-3 font-bold;
}

.user-actions {
  @apply flex items-center ml-auto;
}

.user-actions .credits {
  @apply flex text-violet-700 font-bold items-center gap-1 mr-4;
}

.logo-desktop {
  @apply hidden sm:block;
}

.logo-mobile {
  @apply block sm:hidden;
}

.btn-primary.new-listing {
  @apply mr-4 fixed bottom-4 right-4 sm:static px-5 h-[40px];
}

.listing-container {
  @apply border border-slate-200 rounded-lg hover:bg-slate-100;
  width: calc(100% / 3 - (60px / 3));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.listing-container-profile {
  width: calc(100% / 2 - (30px / 2));
}

@media (max-width: 900px) {
  .listing-container {
    width: calc(100% / 2 - (30px / 2));
  }
}

@media (max-width: 640px) {
  .listing-container {
    width: 100%;
  }
}

.listing-content {
  @apply p-3;
}

.title-primary {
  @apply text-slate-600 font-bold;
}

.listing-bio {
  @apply text-slate-500 text-sm;
}

.seller {
  @apply inline-flex items-center mt-3;
}

.listings-avatar {
  @apply rounded-full object-cover w-8 h-8 mr-2;
}

.listings-details {
  @apply text-slate-700 font-medium text-sm;
}

.listing-img {
  @apply mb-4 leading-3 rounded-lg w-full h-64 object-cover object-center;
  max-height: 260px;
}

.listing-bidding {
  @apply border-t border-slate-200 p-3 flex justify-between;
}

.listing-left,
.listing-right {
  @apply flex items-center gap-2;
}

.listing-credit {
  @apply font-bold text-violet-600;
}

.bid-input {
  @apply relative;
}

.bid-input input {
  @apply rounded-full border h-[38px] text-violet-500 font-bold text-sm pl-10 pr-20 inline-block box-border w-[160px] outline-none focus:border-slate-400;
}

.bid-input svg {
  @apply absolute left-3 top-1;
}

.bid-input button {
  @apply absolute right-1 top-[3px];
}

.select {
  @apply bg-transparent appearance-none cursor-pointer text-slate-500 h-10 w-48 rounded-md border block outline-none px-2 mb-4 focus:border-violet-500 focus:shadow focus:shadow-violet-200;
}

.profile-container {
  @apply mx-auto mb-10 w-full max-w-[370px] text-center;
}

.listings-side {
  @apply flex-1 mb-10;
}

.main-title {
  @apply text-slate-600 font-bold text-2xl md:text-3xl mb-6 mt-3;
}

#header-avatar {
  @apply rounded-full object-cover w-10 h-10;
}

.listing-timer {
  @apply flex items-center border-t p-3 gap-1 mt-auto;
}

.center-form {
  max-width: 570px;
  width: calc(100% - 20px);
  @apply mx-auto;
}

.available-height {
  min-height: calc(100vh - 65px - 45px);
}

.labels {
  @apply text-slate-500 mb-1 block text-sm font-[var(--textfont)];
}

.listing-inputs {
  @apply text-slate-500 h-10 rounded-md border block outline-none text-sm px-2 mb-5 w-full focus:border-violet-500 focus:shadow focus:shadow-violet-200;
}

.gallery-side {
  @apply mx-auto md:w-2/3 lg:w-[600px] border border-slate-200 rounded p-3 relative;
}

.gallery-container {
  @apply relative h-[300px] lg:h-[500px];
}

.gallery-container .images {
  @apply flex w-full h-full overflow-hidden rounded;
}

.gallery-container .image {
  @apply h-full relative text-center;
  flex: 0 0 100%;
}

.gallery-container img {
  @apply absolute h-full w-full top-0 bottom-0 left-0 right-0 object-cover;
}

.gallery-btns {
  @apply absolute top-6 left-6 flex gap-2;
}

.gallery-btns button {
  @apply w-8 h-8 flex items-center justify-center rounded-md border border-slate-200 bg-white hover:bg-slate-200;
}

.timer-container {
  @apply absolute -bottom-3 left-0 right-0 flex justify-center;
}

.single-listing-timer {
  @apply bg-white rounded-full shadow-lg px-6 py-2;
}

.content-side {
  @apply md:w-2/3 mx-auto mt-10 lg:mt-0 lg:w-full flex-1;
}

.btn-edit {
  @apply uppercase text-sm text-slate-500;
}

.bidder {
  @apply flex items-center mb-3;
}

.bidder svg {
  @apply opacity-50 h-5 w-5;
}

.bidded-amount {
  @apply text-slate-500 text-sm font-bold;
}

.bidder-name {
  @apply text-slate-500 text-sm mr-2;
}

.highest-bid {
  @apply flex items-center;
}

.listing-left-block {
  @apply block;
}

.highest-bid svg {
  @apply h-10 w-10;
}
